@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

:root {
  /* FONT FAMILY */
  --font-family: "Manrope", sans-serif;

  /* FONT SIZE */
  /* base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-xxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xxxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );

  /* FONT WEIGHT */
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* SPACING */
  --space-unit: 1em;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));

  /* BORDER RADIUS */
  --border-radius-rounded-full: 9999px;

  /* COLORS */
  /* color palette (e.g. --color-primary)
    primary: main call-to-action color
    accent: used to highlight something important
    neutral: grayscale tones (whites, grays, blacks)
    feedback: success error, warning, etc
  */
  /* primary */
  --c-cyan-light: hsl(174, 77%, 80%);
  --c-cyan-dark: hsl(174, 86%, 45%);
  --c-orange-light: hsl(14, 92%, 95%);
  --c-orange-dark: hsl(15, 100%, 70%);
  --c-purple: hsl(226, 100%, 87%);
  /* neutral */
  --c-white: hsl(0, 0%, 100%);
  --c-white-medium: hsl(230, 100%, 99%);
  --c-white-dark: hsl(224, 65%, 95%);
  --c-blue-light: hsl(223, 50%, 87%);
  --c-blue-medium: hsl(225, 20%, 60%);
  --c-blue-dark: hsl(227, 35%, 25%);
  /* semantic colors (e.g. --color-link: var(--color-primary) */
  --color-button-background: var(--c-blue-dark);
  --color-button-text: var(--c-purple);
  --color-button-text-hover: var(--c-white);
  --color-discount-background: var(--c-orange-light);
  --color-discount-text: var(--c-orange-dark);
  --color-main-background: var(--c-white-medium);
  --color-pricing-background: var(--c-white);
  --color-slider-background: var(--c-cyan-dark);
  --color-slider-bar-empty: var(--c-white-dark);
  --color-slider-bar-full: var(--c-cyan-light);
  --color-toggle-background: var(--c-blue-light);
  --color-text-dark: var(--c-blue-dark);
  --color-text-light: var(--c-blue-medium);
}

/* These are not useful for frontendmentor unless trying to create custom theme */
html[data-theme="dark"] {
  /* COLORS */
}

html[data-theme="light"] {
  /* COLORS */
}

/* main */
body {
  background-image: url(/images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-color: var(--color-main-background);
  background-size: 100% 25%;
  color: var(--color-text-light);
  font-family: var(--font-family);
  font-size: var(--text-base-size);
  font-weight: var(--font-weight-semi-bold);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Button */
.button {
  background-color: var(--color-button-background);
  color: var(--color-button-text);
  border: none;
  border-radius: var(--border-radius-rounded-full);
  cursor: pointer;
  font-size: var(--text-md);
  font-weight: var(--font-weight-extra-bold);
  padding: var(--space-sm) var(--space-lg);
}

.button:hover {
  color: var(--color-button-text-hover);
}

/* card */
.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-pricing-background);
}

.card__billing {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-sm);
}

.card__pill {
  background-color: var(--color-discount-background);
  color: var(--color-discount-text);
  font-weight: var(--font-weight-extra-bold);
  border-radius: var(--border-radius-rounded-full);
  padding: var(--space-xxs) var(--space-xs);
}

.card__price {
  color: var(--color-text-dark);
  font-size: var(--text-xxl);
  font-weight: var(--font-weight-extra-bold);
}

.card__pricing {
  font-size: var(--text-md);
}

.card__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-lg);
}

.card__views {
  font-size: var(--text-md);
  font-weight: var(--font-weight-extra-bold);
  text-transform: uppercase;
}

.card__separator {
  border: none;
  background-color: var(--color-main-background);
  height: 2px;
}

/* Header */
.header {
  background-image: url(/images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--space-xxl);
  text-align: center;
}

.header__text {
  font-size: var(--text-lg);
}

.header__title {
  color: var(--color-text-dark);
  font-size: var(--text-xxxl);
}

/* list */
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list__feature {
  list-style-type: none;
}

.list__feature::before {
  content: url(./images/icon-check.svg);
  padding-right: var(--space-md);
}

/* Switch */
.switch__checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 3.6rem;
  height: 1.8rem;
  background: var(--color-toggle-background);
  border-radius: var(--border-radius-rounded-full);
  position: relative;
  transition: background-color 0.2s;
}

.switch__label--on {
  background: var(--color-slider-bar-full);
}

.switch__label .switch__button {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: var(--border-radius-rounded-full);
  transition: 0.2s;
  background: var(--color-pricing-background);
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch__checkbox:checked + .switch__label .switch__button {
  left: calc(100% - 0.3rem);
  transform: translateX(-100%);
}
